* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Gill;
  src: url(fonts/GillSans.ttc);
}
@font-face {
  font-family: Proximal;
  src: url(fonts/ProximaNovaScOsfExtraCondensed.ttf);
}
.hero {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero .hero-content {
  width: 714px;
  height: 300px;
  margin: 30px auto 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
.hero .hero-content .title {
  font-family: Proximal;
  font-size: 60px;
}
.hero .hero-content .desc {
  font-family: Gill;
  font-size: 20px;
  margin-bottom: 40px;
}
.hero .hero-content .button {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #79ADDC;
  font-family: Gill;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 1060px) {
  .hero .hero-content {
    width: 70%;
    height: 300px;
  }
}
nav {
  width: 980px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo {
  width: 92px;
  height: 42px;
}
nav .links {
  width: 530px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav .links a {
  text-decoration: none;
  font-family: Gill;
  margin: auto;
}
nav .links p {
  color: #79ADDC;
  margin: 0 5px 0 5px;
}

@media only screen and (max-width: 1060px) {
  nav {
    width: 90%;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
  }
  nav .links {
    width: 100%;
    padding: 0 5% 0 5%;
    margin-bottom: 5px;
  }
}
.white {
  border-bottom: white solid 2px;
}
.white a {
  color: white;
}

.black {
  border-bottom: black solid 2px;
}
.black a {
  color: black;
  border-bottom: transparent solid 0.1px;
}

@media only screen and (max-width: 418px) {
  nav {
    min-height: 100px;
  }
}
.promo-tours {
  max-width: 1280px;
  min-height: 304px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 160px;
  padding-right: 160px;
}
.promo-tours .promo {
  height: 304px;
  width: 236px;
  margin-top: -50px;
  margin-bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.promo-tours .promo .title {
  font-family: Proximal;
  font-size: 60px;
}
.promo-tours .promo .subtitle {
  font-family: Proximal;
  font-size: 30px;
  margin: -25px 0 50px 0;
}
.promo-tours .promo .button {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  background-color: #79ADDC;
  font-family: Gill;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.promo-tours .israel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-01.jpg);
}
.promo-tours .usa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-02.jpg);
}
.promo-tours .australia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-03.jpg);
}

@media only screen and (max-width: 1060px) {
  .promo-tours {
    width: 236px;
    display: block;
    justify-content: center;
    padding: 0;
  }
}
.booking-form {
  width: 818px;
  height: 890px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.booking-form p {
  font-family: Proximal;
  font-size: 60px;
  margin-top: 20px;
}
.booking-form form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Gill;
  font-size: 18px;
}
.booking-form form .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booking-form form input {
  height: 60px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: #79ADDC solid 2px;
  background: transparent;
  font-family: Gill;
  font-size: 18px;
}
.booking-form form label {
  margin-bottom: 20px;
}
.booking-form form .text-short {
  width: 44%;
}
.booking-form form .text-long {
  width: 54%;
}
.booking-form form .check-input {
  width: 85%;
}
.booking-form form .check label {
  width: 10%;
}
.booking-form form .drop-down {
  width: 15%;
  height: 60px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: #79ADDC solid 2px;
  background: transparent;
  font-family: Gill;
  font-size: 18px;
}
.booking-form form .message {
  width: 100%;
  height: 192px;
  padding: 10px 10px 10px 10px;
  border: #79ADDC solid 2px;
  background: transparent;
  font-family: Gill;
  font-size: 18px;
}
.booking-form form .submit {
  width: 98%;
  margin: 20px auto;
  border-radius: 50px;
  color: white;
  background-color: #79ADDC;
}

@media only screen and (max-width: 1060px) {
  .booking-form {
    width: 80%;
    height: 1050px;
  }
  .booking-form form .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .booking-form form .text-short {
    width: 100%;
  }
  .booking-form form .text-long {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .booking-form {
    height: 1400px;
  }
  .booking-form form .row {
    flex-direction: column;
  }
  .booking-form form .check label {
    width: 100%;
  }
  .booking-form form .check-input {
    width: 100%;
  }
  .booking-form form .drop-down {
    width: 100%;
  }
  .booking-form form label {
    width: 100%;
  }
}
.about {
  max-width: 980px;
  margin: auto;
}
.about .about-content {
  margin: 100px 0 100px 0;
}
.about .about-content .underline {
  margin-bottom: 30px;
}
.about .about-content .underline span {
  font-family: Proximal;
  font-size: 60px;
  border-bottom: 1px solid black;
  margin-bottom: 35px;
}
.about .about-content p {
  min-height: 96px;
  font-family: Gill;
  font-size: 18px;
}
.about .client-quotes {
  margin-bottom: 200px;
}
.about .client-quotes .underline {
  margin-bottom: 30px;
}
.about .client-quotes .underline span {
  font-family: Proximal;
  font-size: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 35px;
}
.about .client-quotes .quote-row {
  max-width: 676px;
  min-height: 150px;
  margin-bottom: 40px;
  display: flex;
}
.about .client-quotes .quote-row .quote-image {
  width: 260px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about .client-quotes .quote-row .client1 {
  background-image: url(../images/about-client-01.jpg);
}
.about .client-quotes .quote-row .client2 {
  background-image: url(../images/about-client-02.jpg);
}
.about .client-quotes .quote-row .quote-text {
  position: relative;
  min-height: 50px;
  width: 100%;
  padding-left: 25px;
  padding-bottom: 25px;
}
.about .client-quotes .quote-row .quote-text .quote-name {
  position: absolute;
  right: 0;
  bottom: 0;
}
.about .client-quotes .quote-row .quote-text .quote-name h1 {
  font-family: Proximal;
  font-size: 20px;
  color: #79ADDC;
  margin-bottom: 0;
}
.about .client-quotes .quote-row .quote-text p {
  font-family: Gill;
  font-size: 18px;
}

@media only screen and (max-width: 1060px) {
  .about {
    width: 90%;
  }
}
header {
  max-width: 980px;
  margin: 50px auto 0 auto;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tours-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: Proximal;
  font-size: 60px;
}

.tour-row {
  max-width: 818px;
  margin: 50px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.tour-row .tours {
  height: 304px;
  width: 236px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}
.tour-row .tours .title {
  font-family: Proximal;
  font-size: 60px;
  text-align: center;
}
.tour-row .tours .subtitle {
  font-family: Proximal;
  font-size: 30px;
  margin: -25px 0 50px 0;
}
.tour-row .tours .button {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
  background-color: #79ADDC;
  font-family: Gill;
  font-size: 15px;
  text-decoration: none;
  color: white;
}
.tour-row .israel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-01.jpg);
}
.tour-row .usa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-02.jpg);
}
.tour-row .australia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-03.jpg);
}
.tour-row .new-zealand {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-04.jpg);
}
.tour-row .france {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-05.jpg);
}
.tour-row .egypt {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-06.jpg);
}
.tour-row .japan {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-07.jpg);
}
.tour-row .canada {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-08.jpg);
}
.tour-row .uae {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-09.jpg);
}

@media only screen and (max-width: 1200px) {
  .tour-row {
    flex-direction: column;
    padding: 0 50px 100px 50px;
  }
}
.packages {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 50px;
}
.packages .header {
  height: 420px;
  margin-bottom: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  position: relative;
}
.packages .header .title {
  font-family: Proximal;
  font-size: 80px;
  left: 20px;
  top: 5px;
  position: absolute;
}
.packages .header .subtitle {
  font-family: Proximal;
  font-size: 30px;
  text-align: right;
  position: absolute;
  margin-right: 10px;
  right: 20px;
  bottom: 0;
}
.packages .israel {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-01.jpg);
}
.packages .usa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-02.jpg);
}
.packages .aus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-03.jpg);
}
.packages .nz {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-04.jpg);
}
.packages .france {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-05.jpg);
}
.packages .egypt {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-06.jpg);
}
.packages .japan {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-07.jpg);
}
.packages .canada {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-08.jpg);
}
.packages .uae {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/tour/tour-09.jpg);
}
.packages .images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex: wrap;
}
.packages .images img {
  width: 298px;
  height: 347px;
  object-fit: cover;
  overflow: hidden;
}
.packages .text-section .title {
  width: 140px;
  margin-top: 70px;
  font-family: Proximal;
  font-size: 60px;
  border-bottom: black solid 1px;
}
.packages .text-section .desc {
  margin-top: 40px;
  font-family: Gill;
  font-size: 16px;
}
.packages .button {
  padding: 10px;
  border-radius: 20px;
  background-color: #79ADDC;
  width: 133px;
  height: 40px;
  margin: 80px auto 100px auto;
  display: flex;
  justify-content: center;
  font-family: Gill;
  color: white;
  font-size: 16px;
  text-decoration: none;
}

@media only screen and (max-width: 1060px) {
  .packages {
    width: 90%;
  }
  .packages .images {
    flex-direction: column;
    align-items: center;
  }
  .packages .images img {
    margin-bottom: 50px;
  }
}
.special-offers {
  max-width: 980px;
  margin: 50px auto 120px auto;
}
.special-offers .offers-content .underline {
  margin-bottom: 20px;
}
.special-offers .offers-content .underline span {
  font-family: Proximal;
  font-size: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 35px;
}
.special-offers .offers-content .quote-row {
  max-width: 556px;
  min-height: 287px;
  display: flex;
  margin-bottom: 60px;
}
.special-offers .offers-content .quote-row .quote-image {
  width: 200px;
  height: 287px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.special-offers .offers-content .quote-row .spain {
  background-image: url(../images/special-offer-01.jpg);
}
.special-offers .offers-content .quote-row .thai {
  background-image: url(../images/special-offer-02.jpg);
}
.special-offers .offers-content .quote-row .quote-text {
  position: relative;
  min-height: 50px;
  width: 100%;
  padding-left: 25px;
  padding-bottom: 45px;
}
.special-offers .offers-content .quote-row .quote-text h2 {
  font-family: Proximal;
  font-size: 20px;
  color: #FF7D38;
  position: absolute;
  right: 0;
  top: 20px;
}
.special-offers .offers-content .quote-row .quote-text .button {
  padding: 10px;
  border-radius: 20px;
  background-color: #79ADDC;
  position: absolute;
  bottom: 0;
  width: 133px;
  height: 40px;
  display: flex;
  justify-content: center;
  font-family: Gill;
  color: white;
  font-size: 16px;
  text-decoration: none;
}
.special-offers .offers-content .quote-row .quote-text p {
  font-family: Gill;
  font-size: 18px;
}

@media only screen and (max-width: 1060px) {
  .special-offers {
    width: 90%;
  }
}
@media only screen and (max-width: 600px) {
  .special-offers .offers-content .quote-row .quote-text h2 {
    position: static;
  }
}
.blog {
  width: 980px;
  margin: 50px auto 0 auto;
}
.blog .underline {
  margin-bottom: 30px;
}
.blog .underline span {
  font-family: Proximal;
  font-size: 60px;
  border-bottom: 1px solid black;
  margin-bottom: 35px;
}
.blog .blog-entry {
  display: flex;
  justify-content: space-between;
}
.blog .blog-entry .date {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #79ADDC;
}
.blog .blog-entry .date .num {
  font-family: Gill;
  font-size: 22px;
  color: white;
  margin: 0;
}
.blog .blog-entry .date .month {
  font-family: Gill;
  font-size: 12px;
  color: white;
  margin: 0;
}
.blog .blog-entry .entry {
  width: 900px;
  margin-bottom: 100px;
}
.blog .blog-entry .entry .entry-image {
  width: 100%;
  height: 259px;
  margin-bottom: 20px;
  background-image: url(../images/blog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.blog .blog-entry .entry p {
  max-width: 380px;
  font-family: Gill;
}

@media only screen and (max-width: 1060px) {
  .blog {
    width: 90%;
  }
  .blog .blog-entry {
    flex-direction: column;
  }
  .blog .blog-entry .entry {
    width: 100%;
  }
}
.contact {
  width: 980px;
  margin: 50px auto 150px auto;
}
.contact .underline {
  margin-bottom: 30px;
}
.contact .underline span {
  font-family: Proximal;
  font-size: 40px;
  border-bottom: 1px solid black;
  margin-bottom: 35px;
}
.contact .contact-content {
  display: flex;
  justify-content: space-between;
}
.contact .contact-content .left {
  width: 400px;
}
.contact .contact-content .left .map {
  width: 100%;
  height: 442px;
  margin-bottom: 40px;
  background-image: url(../images/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contact .contact-content .left p {
  font-family: Gill;
  font-size: 16px;
}
.contact .contact-content .right {
  width: 530px;
  display: flex;
  flex-direction: column;
}
.contact .contact-content .right input {
  width: 100%;
  height: 60px;
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: Gill;
  font-size: 16px;
  background: #F5F5F5;
  border: transparent;
}
.contact .contact-content .right textarea {
  width: 100%;
  height: 200px;
  font-family: Gill;
  font-size: 16px;
  padding: 15px 10px 10px 10px;
  margin-bottom: 20px;
  background: #F5F5F5;
  border: transparent;
}
.contact .contact-content .right button {
  padding: 10px;
  border-radius: 0;
  background-color: #79ADDC;
  width: 168px;
  height: 60px;
  font-family: Gill;
  color: white;
  font-size: 16px;
  border: transparent;
}

@media only screen and (max-width: 1060px) {
  .contact {
    width: 90%;
  }
  .contact .contact-content {
    flex-direction: column;
    align-items: center;
  }
  .contact .contact-content .left {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .contact .contact-content .left br {
    margin: 5px;
  }
  .contact .contact-content .right {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
  }
  .contact .contact-content .right input {
    width: 90%;
  }
  .contact .contact-content .right textarea {
    width: 90%;
  }
}
footer {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #79ADDC;
}
footer .footer-content {
  width: 979px;
  min-height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-content img {
  height: 42px;
  width: 92px;
}
footer .footer-content p {
  font-family: Gill;
  font-size: 12px;
  color: white;
  text-align: center;
  margin: 0 auto;
  width: 30%;
}
footer .footer-content .socials {
  width: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
footer .footer-content .socials img {
  height: 22px;
  width: 22px;
}

@media only screen and (max-width: 1060px) {
  .footer-content {
    width: 80%;
  }
}
@media only screen and (max-width: 420px) {
  footer {
    height: 200px;
  }
  footer .footer-content {
    flex-direction: column;
  }
  footer .footer-content img {
    margin: 15px 0 15px 0;
  }
}