@mixin selfCenter($element-width, $element-margin: 0 auto) {
    max-width: $element-width;
    margin: $element-margin;
}

@mixin contentCenter($display: flex, $alignItems: center, $justifyContent: center) {
    display: $display;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin siteButton($btnPadding: 10px, $btnRadius: 20px, $btnBG: $site-blue) {
    padding: $btnPadding;
    border-radius: $btnRadius;
    background-color: $btnBG;
}

@mixin backgroundStyle {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

