nav {
    width: 980px;
    height: 60px;
    margin: 0 auto;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;




    .logo {
        width: 92px;
        height: 42px;
    }

    .links {
        width: 530px;
        min-height: 25px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        flex-wrap: wrap;

        // .black {
        //     color: $site-black;
        // }

        a {
            text-decoration: none;
            font-family: Gill;
            // color: $site-white;
            margin: auto;
        }

        p {
            color: $site-blue;

            margin: 0 5px 0 5px;

        }

    }

}

@media only screen and (max-width: 1060px) {
    nav {
        width: 90%;
        min-height: 80px;

        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        flex-wrap: wrap;

        padding: 0;


        .links {
            width: 100%;
            padding: 0 5% 0 5%;
             
            margin-bottom: 5px;
        }
    }
}
.white {
    border-bottom: $site-white solid 2px;

    a  {
        color: white;
    }
}

.black {
    border-bottom: $site-black solid 2px;

    a {
        color: black;
        border-bottom: transparent solid .1px;
    }
}

@media only screen and (max-width: 418px) {
    nav {
        min-height: 100px;
    }
}