// colors
$site-blue: #79ADDC;
$site-white: white;
$site-black: black;
$overlay-black: rgba(0,0,0,.4);

// text-sizes
$title: 60px;
$subtitle: 30px;
$large-desc: 20px;
$med-desc: 18px;
$small-desc: 15px;
$tiny-desc: 12px;

