.contact {
    width: 980px;
    margin: 50px auto 150px auto;

    .underline {
        margin-bottom: 30px;

        span {
            font-family: Proximal;
            font-size: 40px; 

            border-bottom: 1px solid $site-black;

            margin-bottom: 35px;
        }
    }

    .contact-content {
        display: flex;
        justify-content: space-between;

        .left {
            width: 400px;

            .map {
                width: 100%;
                height: 442px;

                margin-bottom: 40px;

                background-image: url(../images/map.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

            p {
                font-family: Gill;
                font-size: 16px;
            }
        }
    
        .right {
            width: 530px;

            display: flex;
            flex-direction: column;

            input {
                width: 100%;
                height: 60px;

                padding-left: 10px;

                margin-bottom: 20px;
                
                font-family: Gill;
                font-size: 16px;

                background: #F5F5F5;
                border: transparent;

            }

            textarea {
                width: 100%;
                height: 200px;
                
                font-family: Gill;
                font-size: 16px;

                padding: 15px 10px 10px 10px;

                margin-bottom: 20px;

                background: #F5F5F5;
                border: transparent;
            }

            button {
                @include siteButton(10px, 0, $site-blue);

                width: 168px;
                height: 60px;

                font-family: Gill;
                color: $site-white;
                font-size: 16px;

                border: transparent;
 
            }

        }
    }


}

@media only screen and (max-width: 1060px) {
    .contact {
        width: 90%;


        .contact-content {
            flex-direction: column;
            align-items: center;

                .left {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    text-align: center;

                    br {
                        margin: 5px;
                    }
                }

                .right {
                    width: 100%;
                    margin-top: 50px;

                    display: flex;
                    align-items: center;

                    input {
                        width: 90%;
                    }

                    textarea {
                        width: 90%;
                    }
                }
        }
    }
}
